.slider-container {
  position: fixed;
  right: 0;
  top: 50px;
  bottom: 0;
  /* background-color: white; */
  margin-top: 20px;
  width: 800px;
  height: auto;
  animation: slideToLeft 0.3s linear forwards; /* Removed 'infinite' and added 'forwards' */
}

@keyframes slideToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0); /* Adjusted to stop at 'right: 0;' */
  }
}

.close-animation {
  animation: slideToRight 0.3s linear forwards;
}

@keyframes slideToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%); /* Moves to the right */
  }
}
