.product-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.filters {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.filters select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.share-button {
  padding: 10px 20px;
  background-color: rgb(30 58 138);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.product-info {
  margin-top: 10px;
}

.enquiry-button {
  margin-top: 10px;
  padding: 10px;
  background-color: rgb(30, 58, 138);
  color: white;
  border: none;
  border-radius: 10px; /* Increased border-radius for larger rounding */
  cursor: pointer;
  width: 100%; /* Set to full width */
}
